.footer-container {
  align-items: center;
  /* background-image: linear-gradient(to bottom, #E49A53, #A3523D); */
  background-color: #E49A53;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  width: 1.5rem;
}
