* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  background-color: #ff8233;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  /* position: fixed; */
  width: 100%;
  z-index: 10;
}

img {
  width: 1.5rem;
}

h1 {
  align-self: center;
  color: #502314;
  font-size: 1.5rem;
}

.header-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transparent-btn {
  background-color: transparent;
  border: none;
  color: #e5e5e500;
  width: 24px;
}
