* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

form {
  background-color: #ffc52e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  padding: 20px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

input:focus {
  border: 3px solid #db2a19;
}

.btn-login {
  background-color: #db2a19;
  border: 2px solid #db2a19;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.btn-login:hover {
  background-color: #db2a19;
  color: white;
}

.disabled {
  border: 2px solid #db291965;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.445);
  cursor: not-allowed;
  letter-spacing: 0.8px;
  opacity: 1;
  padding: 10px 24px;
}
