@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Shadows+Into+Light&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7e7e7;
  font-family: Arial , Helvetica , sans-serif;
}

form {
  background-color: #E49A53;
  /* background-image: linear-gradient(to bottom, #E49A53, #A3523D); */
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-size: cover;
}

.cook {
  align-self: center;
  margin-top: 20px;
  width: 388px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: space-evenly;
  margin: 40px 0;
}

/* form h1 {
  color: #502314;
  font-family: Edu VIC WA NT Beginner , cursive;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 60px;
  text-shadow: 1px 1px 3px black;
} */

.input-login {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.input-login:focus {
  border: 3px solid #db2a19;
}

.btn-login {
  background-color: #a3523d;
  border-radius: 4px;
  color: #ffda33;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.btn-login:hover {
  background-color: #502314cb;
  color: #ffda33cb;
}

.disabled {
  background-color: #a3513db9;
  border-radius: 4px;
  color: #ffda33cb;
  cursor: not-allowed;
  letter-spacing: 0.8px;
  opacity: 0.8;
  padding: 10px 24px;
}
