.category-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 7px -40px;
  position: relative;
}

.category-buttons button {
  background-color: #a3523d;
  border-radius: 4px;
  color: #ffda33;
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin: 4px;
  padding: 8px 18px;
}
